.calendar {
  width: 100%;

  &-month {
    &-week-list {
      display: flex;
      padding: 0;
      width: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;

      &-item {
        padding: 20px 16px;
        text-align: left;
        color: #7d7d7f;
        flex: 1;
      }
    }

    &-body {
      &-row {
        height: 100px;
        display: flex;
      }

      &-cell {
        flex: 1;
        border: 1px solid #eee;
        padding: 10px;
        color: #ccc;

        &-current {
          color: #000;
        }

      }

    }
  }
}